<html>
<head>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"></link>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <style>
    .img {
      width: 100%;
      height: 0;
      padding-top: 100%;
    }
    .thumbnail {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 00px;
    }
    .col-xs-3 {
      padding-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container" style="padding-top: 20px">
    <div class="row">
    {% if songs != None %}
      {% for song in songs %}
        <div class="col-xs-12">
          <p>{{ song.name }}</p>
          <span class="label label-primary">{{song.name}}</span>
          <span class="label label-primary">{{song.name}}</span>
        </div>
      {% endfor %}
    {% endif %}
    </ul>
  </div>
</body>
</html>